<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/student-style.css">
    <link rel="icon" type="image/png" href="../images/favicon-32x32.png">
    <title>Event.io</title>
</head>

<body>
    <!-- <div id="samp">HI</div>  -->
  


    <main class="main-4 ">
        <div class="dep-prf-wrapper">
            <div class="dep-prf-header">
                

                <div class="dep-prf-pic">
                    
                        
                     <img class="dep-img-prf" src="/uploads/<%=data.img%>"> 
                     
                    
                
                    
                </div>
                <div class="dep-bio">
                    <h1><%=data.fname%> <%=data.lname%></h1>
                    <span style="margin-left: 10px;"><%= depname%></span>
                    <span style="margin-left: 10px;"><%=data.rid%></span>

                    
                </div>
            </div> 

            <div class="dep-feed-wrapper">
                <% for(let i =0 ; i < doc.length ; i++) {%>
                <div style="padding: 20px;" class=" dep-feed">

                    <h3 style="background-color:  rgba(255, 255, 255, 0.473) ; display: inline ; padding: 10px; border-radius: 10px;"><%= doc[i].title%></h3>
                    <% if(doc[i].img != null){%>
                    <img class="multer" src="/uploads/<%=doc[i].img%>"  >
                  <%}%>
                    <p style="background-color: rgba(255, 255, 255, 0.473); border-radius: 10px; padding: 5px 10px; min-height: 50px;"><%= doc[i].feed%></p>
                </div>
                <% } %>
            </div>
             
        </div>


    </main>
    <footer class="footer">
        <h3>Designed by Ajay J</h3>
        <p>As a part of my Main Project @ AL AMEEN College, Edathala</p>
    </footer>
    <script type="text/javascript" src="/script/handler.js"></script>
</body>

</html>